<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Change your password</title>
</head>
<body>
    <div class="container" id="passwordContainer">
        <h1>CHANGE YOUR PASSWORD</h1>
        <div class="password-box">
            <input type="password" placeholder="Password" class="password-input">
            <input type="password" placeholder="Confirm Password" class="confirm-password-input">
            <button class="confirm-button" onclick="handleConfirm()">CONFIRM</button>
        </div>
    </div>
    <div class="container" id="successContainer" style="display: none;">
        <p>PASSWORD SUCCESSFULLY CHANGED! PLEASE RETURN TO THE APPLICATION TO LOGIN</p>
    </div>
    <script>
        const url = window.location.href;
        const resetToken = url.substring(url.lastIndexOf('/') + 1);
 
        const passwordContainer = document.getElementById('passwordContainer');
        const successContainer = document.getElementById('successContainer');

        async function handleConfirm(){

            const inputPassword = document.querySelector('.password-input').value;
            const inputConfirmPassword = document.querySelector('.confirm-password-input').value;
            try {
                const response = await fetch(`http://localhost:3500/forgotPassword/${resetToken}`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    credentials: 'include',
                    body: JSON.stringify({
                        "newPassword": inputPassword,
                        "confirmNewPassword": inputConfirmPassword
                    })
                });

                if (response.ok) {
                    passwordContainer.style.display = 'none';
                    successContainer.style.display = 'block';
                }else{
                    const errorJson = await response.json();
                    alert(errorJson.message);
                }

            } catch (err) {
                console.log("catched error : ",err);
            }
        }
    </script>
</body>
</html>
